@media screen and (min-width: 1024px) {

    body{
        header{
            background-image: url("https://raw.githubusercontent.com/DanielE0802/Aventi-Solutions/e34c07b08321dfeabddd8d945c2b6a2940718ca2/img/bg-header-desktop.svg");
            width: 100%;
        }
    }

    //Section filter
    .section-filter {
        width: 80%;

        .container-filter {
            padding: 15px 15px 25px 30px;

            .filter {
                margin: 10px 0px 0px 10px;
                .button-x:active{
                    background: #000;
                }
            }
        }
    }

    //Section cards
    .cards {
        width: 80%;
        

        .card {
            display: flex;
            
            flex-wrap: wrap;
            padding: 35px 40px 35px 40px;
            height: 100%;
            align-items: center;
            .logo {
                transform: none;
                height: 100%;
                align-self: center;
                margin-right: 30px;

                img {
                    width: 100px;
                }
            }
            .card-info {
                .card-info-general {
                    .new{
                        margin-right: 0.7vw;
                    }
                    .featured{
                        margin-right: 0.6vw;
                    }
                }

                .card-info-position {
                    margin-top: 18px;
                    h1 {
                        font-size: 20px;
                    }

                }

                .card-info-more {
                    padding: 18px 0px;
                    border-bottom: 0px;
                    width: 100%;

                    p {
                        margin-right: 1.5vw;

                        &::before {

                            transform: translate(-0.7vw, 100%);
                        }
                    }

                    p:nth-child(1)::before {
                        width: 0;
                    }
                }

            }

            .card-filter {
                display: flex;
                flex-wrap: wrap;
                margin: 15px 0px 0px 0px;
                padding-bottom: 15px;
                width: 50%;
                justify-content:flex-end;
                flex: 1;
                align-self: auto;

                .p-filter {
                    background-color: $c-filter;
                    font-size: $s-primary;
                    font-weight: 700;
                    margin: 0px 10px 10px 0px;
                    padding: 4px 9px;
                    padding-top: 8px;
                    color: $c-primary;
                    cursor: pointer;
                    border-radius: 6px;
                    transition: background .4s ease, color .2s ease;

                    &:hover {
                        background: $c-primary;
                        color: #fff;
                    }

                }
            }



        }
    }

    .display-none{
        display: none !important;
    }

}

