
//Colors

$c-primary: hsl(180, 29%, 50%);
$c-background: hsl(180, 52%, 96%);
$c-filter: hsl(180, 31%, 95%);
$Dark-Cyan: hsl(180, 8%, 52%);
$Very-Cyan: hsl(180, 14%, 20%);


//Font
$f-primary:'Spartan', sans-serif;
$s-primary:15px;